<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <style></style>
    <title>Spring Boot Thymeleaf</title>
  </head>
  <body>
    <div style="text-align: center">
      <h4>Proyecto Demo_logo en Spring Boot con Thymeleaf</h4>
    </div>
    <div style="text-align: center">
      <img src="gitlab-ukraine.jpg" alt="gitlab" height="300" width="700" />
    </div>
  </body>
</html>
